{% extends "base.html" %}


{% block title %} Create Account {% endblock %}


{% block content %} 

<h2>New Create Account</h2>

<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
    <input class="input100" type="text" name="email" placeholder="Email">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    </span>
</div>

<div class="wrap-input100 validate-input" data-validate="Password is required">
    <input class="input100" type="password" name="pass" placeholder="Password">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
    <i class="fa fa-lock" aria-hidden="true"></i>
    </span>
</div>

<div class="container-login100-form-btn">
    <button type="button" class="login100-form-btn" name="fah" id="fah" value="fah">
    Login
    </button>
</div>

{% endblock %}